*{
    margin: 0;
    padding: 0;
}
/* header start  */
.navbar-light .navbar-nav .nav-link {
    color: #204f87;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
/* header end  */

/* banner start  */
.banner{
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
}
.icon{
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 49%;
    top: 80%;
    transform: translate(-49%, 0);
    animation: updown 1s linear infinite;
    animation-direction: alternate;
}
.banner h1{

color: #fff;

font-size: 75px;

font-weight: 700;

text-transform: uppercase;
}
@keyframes updown{
    0%{
        top: 80%;
    }
    100%{
        top: 90%;
    }
}
/* banner end  */